.opener_container{
    position: absolute;
    width: 100%;
    text-align: center;
    /*margin-top: 350px;*/
    z-index: 2;

}

.neon {
    color: #fff;
    text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            /*0 0 20px #fff,*/
            /*0 0 40px #0ff,*/
            0 0 80px #0ff,
            /*0 0 90px #0ff,*/
            /*0 0 100px #0ff,*/
            0 0 150px #0ff;
    /*font-size: 50px;*/
}
